* {
  margin: 0;
  color: #e2e2e2;
}

html {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.nav__link:hover {
  color: inherit;
  cursor: pointer;
}
